:javascript
    users = #{@users}
    view = #{@data}
    states = #{@states}
    selectedState = #{@selected_state}
    labels = {label_text: {one: "Your labels", two: " will change ", three: " whenever you like." }}
    checkboxes = {true_false: {one: "false", two: "true", three: 0 }}
    inputs = {song: {title: "This One"}}
    cities = #{@cities}
    
=link_to "Bind User Table", "javascript:void(0)", :id=>"bind_user"
%table{:data=>{:src=>"user"}}
    %thead
        %th{:data=>{:val=>"username", :options=>"inline-edit", :name=>"MyName", :change=>"alert('hello')"}} Username
        %th{:data=>{:val=>"email"}} Email
    %tbody
    
%br
%br
=link_to "Fill States Dropdown", "javascript:void(0)", :id=>"fill_states"
%br
=link_to "Bind states Dropdown", "javascript:void(0)", :id=>"bind_states"
%br
%select#states_list{:data=>{:val=>"state.description", :src=>"state.description"}}

%br
%br
=link_to "Change Labels", "javascript:void(0)", :id=>"change_label_one"
%br
%label{:data=>{:val=>"label_text.one", :options=>"inline-edit", :name=>"MyName", :change=>"alert('hello')"}} 
    Your text
%label{:data=>{:val=>"label_text.two"}}
    is fluid
%label{:data=>{:val=>"label_text.three"}}
    with prometheus.
    
%br
%br
=link_to "Change Span", "javascript:void(0)", :id=>"change_span"
%br
%span{:data=>{:val=>"label_text.one", :options=>"inline-edit"}}
%br
%br

=link_to "Set Checkboxes", "javascript:void(0)", :id=>"bind_checkboxes"
%br
%input{:type=>"checkbox", :data=>{:val=>"true_false.one"}}
Check1
%input{:type=>"checkbox", :data=>{:val=>"true_false.two"}}
Check 2
%input{:type=>"checkbox", :data=>{:val=>"true_false.three"}}
Check 3

%br
%br
=link_to "Set Input", "javascript:void(0)", :id=>"bind_inputs"
%br
%input{:data=>{:val=>"song.title"}}

%br
%br
=link_to "Bind Lists", "javascript:void(0)", :id=>"bind_lists"
%br
%ul{:data=>{:val=>"city.description", :class=>"myClass", :id=>"myId", :options=>"inline-edit", :name=>"MyName", :change=>"alert('goodbye')"}}
